<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:tx="http://www.springframework.org/schema/tx"
 
   xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd 
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

 <context:component-scan base-package="com.reddy" />
 	<tx:annotation-driven transaction-manager="hibernateTransactionManager"/>  
  

<!-- <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
        <property name="prefix" value="/WEB-INF/pages/" />  
        <property name="suffix" value=".jsp" />  
    </bean>  -->
 
 <bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="dataSource">  
 <property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver
"></property>  
 <property name="url" value=" jdbc:sqlserver://c16:1433;DatabaseName=sa;"></property>  
 <property name="username" value="sa"></property>  
 <property name="password" value="tiger"></property>  
</bean>  
  
	
	<bean class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean" id="sessionFactory">  
 <property name="dataSource" ref="dataSource"></property>  
  <property name="annotatedClasses">  
  <list>  
   <value>com.chegus.bean.StudentBean</value>  
  </list>  
 </property>  
 <property name="hibernateProperties">  
 <props>  
  <prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop> 
  <prop key="hibernate.show_sql">true</prop>  
  <prop key="hibernate.hbm2ddl.auto">update</prop>      
        </props>  
      </property>  
</bean>  
  
	 <bean class="org.springframework.orm.hibernate3.HibernateTransactionManager" id="hibernateTransactionManager">  
 <property name="sessionFactory" ref="sessionFactory"></property>  
  </bean> 
	
	 -->
	
</beans>
